@import url('https://fonts.googleapis.com/css2?family=Allura&family=Italiana&family=Roboto:wght@300&display=swap');
:root{
    --primary: #231f1e;
    --secondary: #01e29e;
    --light-brown: #f5f1ee;
    --dark-red: #8b514c;
    --roboto-font: "Roboto";
    --italiana-font: "Italiana";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
}

.box-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/pocetna/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px -150px 100px -10px #231f1e;
}

.margin-top{
    margin-top: 10rem;
}

.name{
    color: white;
    font-family: var(--italiana-font);
    position: relative;
}

.name h1{
    font-size: 6rem;
}

#name-accent{
    position: absolute;
    top: 14rem;
    color: var(--secondary);
    font-family: "Allura";
}

.header-location{
    color: white;
    margin-top: 8rem;
    width: fit-content;
    padding: 0.5rem;
    background: rgba(42, 41, 41, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.background-transparent{
    padding: 0.5rem;
    background: rgba(42, 41, 41, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.background-primary{
    background-color: var(--primary);
}

.background-lightbrown{
    background-color: var(--light-brown);
}

.counters{
    color: white;
    padding: 2rem 0rem;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(84, 84, 84);
}

.counter-accent{
    color: var(--secondary);
    font-size: 2.5rem;
    font-weight: 600;
}

.section-apartmani h1{
    color: white;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.section-apartmani p:not(.accent) {
    color: rgb(192, 192, 192);
}

.accent{
    color: var(--secondary);
}

.facility{
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(220, 220, 220);
    gap: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.facility .icon{
    background-color: rgb(243, 243, 243);
    color: var(--secondary);
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.objekat-ruza{
    margin-top: 5rem;
}

.button-row{
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.button-row button{
    width: 20%;
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: var(--light-brown);
}

button.active{
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    font-weight: bold;
}

.apartman-povrsina{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.apartman-row{
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
}

.detaljnije{
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.detaljnije:hover{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.contact-icon{
    font-size: 1.5rem;
    color: var(--dark-red);
}

.accent-brown{
    color: var(--dark-red);
}

.info-text{
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.info-link{
    color: var(--primary);
    transition: all 0.3s ease;   
}

.info-link:hover{
    color: var(--secondary);
}

.info-social{
    font-size: 2rem;
    margin-left: 1rem;
}

.opis{
    font-size: 1.2rem;
}